{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <title>Task manager</title>
</head>
<body>
    {% include 'nav.html' %}
    <div class="text-center">
        <h2>Today's Tasks</h2>
        <div>
            <img src="{{profile_img.url}}" alt="" style="width:100px;">
        </div>
        <div class="d-flex flex-column align-items-center">
            {% if tasks %}
                {% for task in tasks %}
                    <div class="card border-success mb-3 w-50">
                        <div class="card-header">{{ task.title }}</div>
                        <div class="card-body">
                            <h4 class="card-title">{{ task.content }}</h4>
                            <p>Status:
                                {% if task.completed %} 
                                    Completed
                                {% else %}
                                    Pending
                                {% endif %}
                                , Created: {{ task.created }}
                            </p>
                            <p>
                                <a href="{% url 'update-task' task.id %}"> Update</a>
                                <a href="{% url 'delete-task' task.id %}"> Delete</a>
                            </p>
                        </div>
                    </div>      
                {% endfor %}
            {% else %}
                <h3>Sorry, No tasks for today</h3>
                <div class="mt-4">
                    <a class="btn btn-info" href="{% url 'create-task' %}">New Task</a>
                </div>      
            {% endif %}
        </div>
    </div>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>












